<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: #header"></div>
    <title>Create New Project</title>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:replace="fragments/app-header :: appheader(${#authentication.getPrincipal().getUser()})"></div>

    <div class="app-main">
        <div th:insert="fragments/side :: side(${sideBarProjects})"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-fw icon-gradient bg-arielle-smile">
                                </i>
                            </div>
                            <div>
                                <div th:text="'Create  Project' "></div>
                                <div class="page-title-subheading"> You can create new project here
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="pull-right ml-auto">
                                <a class="btn btn-shadow btn-success pull-right ml-auto" th:text="'Show All'"
                                   th:href="@{/projects}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'Create New project'">
                                </h5>
                                <form name="form" th:object="${project}" th:action="@{/project/save}" method="POST"
                                      enctype="utf8" class="needs-validation" novalidate="">
                                    <div th:if="${param.error}" class="alert alert-error">
                                        <div th:if="${#fields.hasAnyErrors()}">
                                            <ul>
                                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="title">Title</label>
                                                <input id="title" class="form-control" type="text" th:field="*{title}">
                                                <p class="alert alert-danger"
                                                   th:each="error: ${#fields.errors('title')}"
                                                   th:text="${error}">Validation error</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="description">Description</label>
                                        <textarea name="description" id="description"
                                                  class="form-control" th:field="*{description}"></textarea>
                                        <p class="alert alert-danger" th:each="error: ${#fields.errors('description')}"
                                           th:text="${error}">Validation error</p>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="team">Team </label>
                                                <select name="team" id="team"
                                                        class="custom-select"
                                                        th:field="*{teamId}">
                                                    <option value="-1">......Select Team......</option>
                                                    <option th:each="team : ${teams}"
                                                            th:value="${team.getId()}"
                                                            th:text="${team.getTitle()}">
                                                    </option>
                                                </select>
                                                <p class="alert alert-danger" th:each="error: ${#fields.errors('teamId')}"
                                                   th:text="${error}">Validation error</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-actions">
                                        <button class="btn btn-success" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="fragments/foot :: #footer"></div>

</body>

</html>