<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: #header"></div>
    <title>All Projects</title>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>
    </div>

    <div class="app-main">
        <div th:insert="fragments/side :: side"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-fw icon-gradient bg-arielle-smile">
                                </i>
                            </div>
                            <div>Projects List
                                <div class="page-title-subheading"> You can see all projects here
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="pull-right ml-auto">
                                <a class="btn btn-shadow btn-success pull-right ml-auto" th:text="'Create project'"
                                   th:href="@{/project/create}"></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-card card">
                                    <div th:if="${projects.size()>0}">
                                        <div class="card-body">
                                            <h5 class="card-title">All projects</h5>
                                            <table class="mb-0 table table-stripped">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="project: ${projects}">
                                                <tr>
                                                    <th th:text="${projects.indexOf(project)+1}"></th>
                                                    <td th:text="${project.title}"></td>
                                                    <td th:text="${project.description}"></td>
                                                    <td>
                                                        <a th:href="@{'/project/{id}/edit' (id=${project.getId})}"
                                                           class="btn btn-warning" th:text="'Edit'"></a>
                                                        <a th:href="@{'/project/{id}/delete' (id=${project.getId})}"
                                                           class="btn-transition btn btn-outline-danger"
                                                           th:text="'Delete'"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <div th:unless="${projects.size()>0}">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                No project yet, You can use top button to create one

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="fragments/foot :: #footer"></div>
</body>

</html>