<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: #header"></div>
    <title>Assigned to you</title>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:replace="fragments/app-header :: appheader(${#authentication.getPrincipal().getUser()})"></div>

    <div class="app-main">
        <div th:insert="fragments/side :: side(${sideBarProjects})"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-fw icon-gradient bg-arielle-smile">
                                </i>
                            </div>
                            <div>My Bugs
                                <div class="page-title-subheading"> Here you can see all bugs assigned to you
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="pull-right ml-auto">
                                <!--TODO:here can be a filter-->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card  bg-heavy-rain">
                                    <div style="padding-bottom: 20px" class="card-header bg-happy-fisher"
                                         th:text="' TO DO : '">
                                    </div>
                                    <div class="card-body">
                                        <div th:each="bug : ${bugs}"
                                             th:if="${bug.getStatus().equalsIgnoreCase('IN_PROGRESS')}">
                                            <div class="mb-3 card text-white bg-danger"
                                                 th:if="${bug.getPriority()} == 1">
                                                <div class="card-header">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-success ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='COMPLETED')}"
                                                       th:text="'Set Completed'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer">
                                                    <div class="pull-right ml-auto">

                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mb-3 card text-white bg-warning"
                                                 th:if="${bug.getPriority()} == 2">
                                                <div class="card-header">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-success ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='COMPLETED')}"
                                                       th:text="'Set Completed'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer">
                                                    <div class="pull-right ml-auto">
                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mb-3 card text-white bg-alternate"
                                                 th:if="${bug.getPriority()} == 3">
                                                <div class="card-header">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-success ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='COMPLETED')}"
                                                       th:text="'Set Completed'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer">
                                                    <div class="pull-right ml-auto">
                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1">

                            </div>

                            <div class="col-md-5">
                                <div class="card  bg-amy-crisp">
                                    <div style="padding-bottom: 20px" class="card-header bg-happy-fisher"
                                         th:text="' Completed : '">
                                    </div>
                                    <div class="card-body">
                                        <div th:each="bug : ${bugs}"
                                             th:if="${bug.getStatus().equalsIgnoreCase('COMPLETED')}">
                                            <div class="card-shadow-danger border mb-3 card bg-light border-danger text-danger"
                                                 th:if="${bug.getPriority()} == 1">
                                                <div class="card-header bg-light text-danger">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-outline-focus ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='IN_PROGRESS')}"
                                                       th:text="'Uncomplete'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer bg-light">
                                                    <div class="pull-right ml-auto">

                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-shadow-warning border mb-3 card bg-light border-warning text-warning"
                                                 th:if="${bug.getPriority()} == 2">
                                                <div class="card-header bg-light text-warning">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-outline-focus ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='IN_PROGRESS')}"
                                                       th:text="'Uncomplete'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer bg-light">
                                                    <div class="pull-right ml-auto">

                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-shadow-alternate border mb-3 card bg-light border-alternate text-alternate"
                                                 th:if="${bug.getPriority()} == 3">
                                                <div class="card-header bg-light text-alternate">
                                                    <div th:text="${bug.getTitle}" class="pull-left"></div>
                                                    <a class="btn btn-outline-focus ml-auto pull-right"
                                                       th:href="@{'/bug/{id}/status/{condition}?pId={pId}' (id=${bug.getId()},pId = ${bug.getProjectId()},condition='IN_PROGRESS')}"
                                                       th:text="'Uncomplete'"></a>

                                                </div>
                                                <div class="card-body">
                                                    <div th:text="${bug.getDescription}"></div>
                                                    <br>

                                                </div>
                                                <div class="card-footer bg-light">
                                                    <div class="pull-right ml-auto">

                                                        <button class="btn btn-primary details"
                                                                th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                            Details
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="fragments/foot :: #footer"></div>
<script type="text/javascript">

    $(document).ready(function () {
        $(document).on('click', '.details', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function (bug, status) {
                $('.modal-content #pTitle').text(bug.projectName);
                $('.modal-content #pVersion').text(' / ' + bug.version);
                $('.modal-content #bTitle').text(bug.title);
                $('.modal-content #bDescription').text(bug.description);
                $('.modal-content #bAssignee').text(bug.assignedName);
                $('.modal-content #bReporter').text(bug.creatorName);
                if (bug.priority === 1) {
                    $('.modal-content #bPriority').text('Critical');
                    $('.modal-content #bPriority').removeClass('badge-warning').removeClass('badge-alternate').addClass('badge-danger');
                } else if (bug.priority === 2) {
                    $('.modal-content #bPriority').text('Major');
                    $('.modal-content #bPriority').removeClass('badge-danger').removeClass('badge-alternate').addClass('badge-warning');
                } else if (bug.priority === 3) {
                    $('.modal-content #bPriority').text('Normal');
                    $('.modal-content #bPriority').removeClass('badge-warning').removeClass('badge-danger').addClass('badge-alternate');
                }

                $('.modal-content #bSteps').text(bug.steps);

                $('.modal-content #bPassedCreated').text('Created ' + bug.createdTimePassed);
                if (bug.lastUpdatedTimePassed !== null)
                    $('.modal-content #bPassedUpdate').text('Last Update  ' + bug.lastUpdatedTimePassed);

                $('#bLog').empty();
                bug.logs.reverse();
                bug.logs.forEach(function (log) {
                    $('<br><p class="bg-royal text-white">&nbsp;' + log + '</p>').appendTo('#bLog');
                });

                /* const etext = '/bug/' + bug.id + '/edit';
                 $('.modal-content #bEdit').attr("href", etext);
                 const edelete = '/bug/' + bug.id + '/delete';

                 $('.modal-content #bDelete').attr("href", edelete);*/
            });

            $('#bug-details-modal').modal('show');
        });
    });
</script>
<div th:replace="fragments/bug-details-modal :: bug-details-modal"></div>
</body>

</html>