<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: #header"></div>

</head>
<body>
<button type="button" class="btn mr-2 mb-2 btn-primary details"
>
    Long Content
</button>


<div th:insert="fragments/foot :: #footer"></div>
<div th:replace="fragments/bug-details-modal :: bug-details-modal"></div>
<script type="text/javascript">

    $(document).ready(function () {
        $(document).on('click', '.details', function (event) {
            $('#bug-details-modal').modal('show');
        });
    });
</script>
</body>
</html>