<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" th:style="'background-image: url(images/bg-01.jpg);'">
					<span class="login100-form-title-1">
						Sign Up
					</span>
            </div>

            <form name="form" class="login100-form validate-form" th:object="${user}" th:action="@{/register}"
                  method="POST"
                  enctype="utf8">

                <div th:if="${param.error}" class="alert alert-error">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" id="username" th:field="*{username}"
                           placeholder="Enter username">
                    <span class="focus-input100"></span>
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" id="password" th:field="*{password}"
                           placeholder="Enter password">
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Confirmation is required">
                    <span class="label-input100">Confirmation  </span>
                    <input class="input100" type="password" name="password2" id="password2" th:field="*{password2}"
                           placeholder="Confirm your password">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-26" data-validate="Firstname is required">
                    <span class="label-input100">First Name</span>
                    <input class="input100" type="text" name="firstName" id="firstName" th:field="*{firstName}"
                           placeholder="Enter firstname">
                    <span class="focus-input100"></span>
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="Lastname is required">
                    <span class="label-input100">Lastname</span>
                    <input class="input100" type="text" name="lastName" id="lastName" th:field="*{lastName}"
                           placeholder="Enter lastname">
                    <span class="focus-input100"></span>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="email" id="email" th:field="*{email}"
                           placeholder="Enter email">
                    <span class="focus-input100"></span>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>


                <div class="flex-sb-m w-full p-b-30">
                    <div>
                        <a href="/login" class="txt1">
                            Have an account ? login
                        </a>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn btn" type="submit">
                            Sign Up
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

</body>
</html>
