<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: #header"></div>
    <title>All Bugs</title>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>
    </div>

    <div class="app-main">
        <div th:insert="fragments/side :: side(${sideBarProjects})"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-fw icon-gradient bg-arielle-smile">
                                </i>
                            </div>
                            <div>Bugs
                                <div class="page-title-subheading"> You can see all bugs here
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="pull-right ml-auto">
                                <a class="btn btn-shadow btn-success pull-right ml-auto" th:text="'Create Bug'"
                                   th:href="@{/bug/create}"></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel"
                         th:each="project:${projects}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">
                                        <div th:text="${project.getTitle()}"
                                             th:href="@{'/bugs/project/{id}' (id=${project.getId()})}"></div>
                                        <div class="btn-actions-pane-right">
                                            <div class="nav">
                                                <a data-toggle="tab" th:href="'#tab-0'+${project.getId()}"
                                                   class="btn-pill btn-wide btn btn-outline-danger btn-sm show active">Critical</a>
                                                <a data-toggle="tab" th:href="'#tab-1'+${project.getId()}"
                                                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-warning btn-sm ">Major</a>
                                                <a data-toggle="tab" th:href="'#tab-2'+${project.getId()}"
                                                   class="btn-pill btn-wide btn btn-outline-alternate btn-sm  ">Normal</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">

                                            <div th:id="'tab-0'+${project.getId()}" class="tab-pane show active">
                                                <div class="table-responsive">
                                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Title</th>
                                                            <th class="text-center">Description</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <div th:each="bug:${bugs}"
                                                             th:if="${project.getId()}==${bug.getProjectId()} and ${bug.getPriority()}==1">
                                                            <tr>
                                                                <td class="text-center text-muted"
                                                                    th:text="${bug.getId()}"></td>

                                                                <td class="text-center"
                                                                    th:text="${bug.getTitle()}"></td>
                                                                <td class="text-center"
                                                                    th:text="${bug.getDescription()}"></td>

                                                                <td class="text-center">
                                                                    <div class="badge badge-info"
                                                                         th:if="${bug.getStatus().equals('PENDING')}">
                                                                        PENDING
                                                                    </div>
                                                                    <div class="badge badge-focus"
                                                                         th:if="${bug.getStatus().equals('IN_PROGRESS')}">
                                                                        IN PROGRESS
                                                                    </div>
                                                                    <div class="badge badge-success"
                                                                         th:if="${bug.getStatus().equals('COMPLETED')}">
                                                                        COMPLETED
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-primary details"
                                                                            th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                                        Details
                                                                    </button>
                                                                    <a th:href="@{'/bug/{id}/edit' (id=${bug.getId()})}"
                                                                       class="btn btn-warning">Edit</a>
                                                                    <a th:href="@{'/bug/{id}/delete' (id=${bug.getId()})}"
                                                                       class="btn btn-outline-danger">Delete</a>
                                                                </td>
                                                            </tr>
                                                        </div>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div th:id="'tab-1'+${project.getId()}" class="tab-pane">
                                                <div class="table-responsive">
                                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Title</th>
                                                            <th class="text-center">Description</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <div th:each="bug:${bugs}"
                                                             th:if="${project.getId()}==${bug.getProjectId()} and ${bug.getPriority()}==2">
                                                            <tr>
                                                                <td class="text-center text-muted"
                                                                    th:text="${bug.getId()}"></td>

                                                                <td class="text-center"
                                                                    th:text="${bug.getTitle()}"></td>
                                                                <td class="text-center"
                                                                    th:text="${bug.getDescription()}"></td>

                                                                <td class="text-center">
                                                                    <div class="badge badge-info"
                                                                         th:if="${bug.getStatus().equals('PENDING')}">
                                                                        PENDING
                                                                    </div>
                                                                    <div class="badge badge-focus"
                                                                         th:if="${bug.getStatus().equals('IN_PROGRESS')}">
                                                                        IN PROGRESS
                                                                    </div>
                                                                    <div class="badge badge-success"
                                                                         th:if="${bug.getStatus().equals('COMPLETED')}">
                                                                        COMPLETED
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-primary details"
                                                                            th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                                        Details
                                                                    </button>
                                                                    <a th:href="@{'/bug/{id}/edit' (id=${bug.getId()})}"
                                                                       class="btn btn-warning">Edit</a>
                                                                    <a th:href="@{'/bug/{id}/delete' (id=${bug.getId()})}"
                                                                       class="btn btn-outline-danger">Delete</a>

                                                                </td>
                                                            </tr>
                                                        </div>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div th:id="'tab-2'+${project.getId()}" class="tab-pane">
                                                <div class="table-responsive">
                                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Title</th>
                                                            <th class="text-center">Description</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <div th:each="bug:${bugs}"
                                                             th:if="${project.getId()}==${bug.getProjectId()} and ${bug.getPriority()}==3">
                                                            <tr>
                                                                <td class="text-center text-muted"
                                                                    th:text="${bug.getId()}"></td>

                                                                <td class="text-center"
                                                                    th:text="${bug.getTitle()}"></td>
                                                                <td class="text-center"
                                                                    th:text="${bug.getDescription()}"></td>

                                                                <td class="text-center">
                                                                    <div class="badge badge-info"
                                                                         th:if="${bug.getStatus().equals('PENDING')}">
                                                                        PENDING
                                                                    </div>
                                                                    <div class="badge badge-focus"
                                                                         th:if="${bug.getStatus().equals('IN_PROGRESS')}">
                                                                        IN PROGRESS
                                                                    </div>
                                                                    <div class="badge badge-success"
                                                                         th:if="${bug.getStatus().equals('COMPLETED')}">
                                                                        COMPLETED
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-primary details"
                                                                            th:href="@{'/api/bug/{id}' (id=${bug.getId()})}">
                                                                        Details
                                                                    </button>
                                                                    <a th:href="@{'/bug/{id}/edit' (id=${bug.getId()})}"
                                                                       class="btn btn-warning">Edit</a>
                                                                    <a th:href="@{'/bug/{id}/delete' (id=${bug.getId()})}"
                                                                       class="btn btn-outline-danger">Delete</a>
                                                                </td>
                                                            </tr>
                                                        </div>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/foot :: #footer"></div>
<script type="text/javascript">

    $(document).ready(function () {
        $(document).on('click', '.details', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function (bug, status) {
                $('.modal-content #pTitle').text(bug.projectName);
                $('.modal-content #pVersion').text(' / ' + bug.version);
                $('.modal-content #bTitle').text(bug.title);
                $('.modal-content #bDescription').text(bug.description);
                $('.modal-content #bAssignee').text(bug.assignedName);
                $('.modal-content #bReporter').text(bug.creatorName);
                if (bug.priority === 1) {
                    $('.modal-content #bPriority').text('Critical');
                    $('.modal-content #bPriority').removeClass('badge-warning').removeClass('badge-alternate').addClass('badge-danger');
                } else if (bug.priority === 2) {
                    $('.modal-content #bPriority').text('Major');
                    $('.modal-content #bPriority').removeClass('badge-danger').removeClass('badge-alternate').addClass('badge-warning');
                } else if (bug.priority === 3) {
                    $('.modal-content #bPriority').text('Normal');
                    $('.modal-content #bPriority').removeClass('badge-warning').removeClass('badge-danger').addClass('badge-alternate');
                }

                $('.modal-content #bSteps').text(bug.steps);

                $('.modal-content #bPassedCreated').text('Created ' + bug.createdTimePassed);
                if (bug.lastUpdatedTimePassed !== null)
                    $('.modal-content #bPassedUpdate').text('Last Update  ' + bug.lastUpdatedTimePassed);

                $('#bLog').empty();
                bug.logs.reverse();
                bug.logs.forEach(function (log) {
                    $('<br><p class="bg-royal text-white">&nbsp;' + log + '</p>').appendTo('#bLog');
                });


                /*    const etext = '/bug/' + bug.id + '/edit';
                    $('.modal-content #bEdit').attr("href", etext);
                    const edelete = '/bug/' + bug.id + '/delete';

                    $('.modal-content #bDelete').attr("href", edelete);*/
            });

            $('#bug-details-modal').modal('show');
        });
    });
</script>
<div th:replace="fragments/bug-details-modal :: bug-details-modal"></div>
</body>

</html>